/* Container for the background image */
.xex-background {
    position: relative;
    overflow: hidden;
    display: none;
}

/* Container that holds the panels */
.xex-container {
    display: flex;
    width: 500dvw;
    height: 100dvh;
    transform: translateX(-40%);
    /* 5 times the viewport width */
    transition: transform 0.5s ease-out;
    /* Smooth scrolling effect */
    position: relative;
}

/* Each panel takes up 100% of the viewport width */
.xex-panel {
    width: 100dvw;
    height: 100dvh;
    /* Full height of the viewport */
    flex-shrink: 0;
}

/* Background effect for parallax */
.xex-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/img/xex-background-1920x854.jpg);
    background-size: cover;
    /* Spread the background image across 5 panels */
    background-repeat: no-repeat;
    background-position: center center;
    /* Keeps the background fixed during scroll */
    z-index: -1;
    /* Ensure it stays behind the content */
}


@media (min-width: 384px) and (max-width: 512px) {
    .xex-container::before {
        background-image: url(/img/xex-background-2560x1138.jpg);
    }
}

@media (min-width: 512px) {
    .xex-container::before {
        background-image: url(/img/xex-background-5120x2276.jpg);
    }
}