<div class="xex-background">
    <div class="xex-container">
        <div class="xex-panel" panelid="1">Panel 1</div>
        <div class="xex-panel" panelid="2">Panel 2</div>
        <div class="xex-panel" panelid="3">Panel 3</div>
        <div class="xex-panel" panelid="4">Panel 4</div>
        <div class="xex-panel" panelid="5">Panel 5</div>
    </div>
    <nav class="appbar appbar-bottom appbar-main">
        <div class="wrapper col-12 px-0">
            <button class="btn-appbar nav-btn-dashboard" title="Exchange" target-panelid="1" transform="0">
                <span class="appbar-icon" title="Exchange">
                    <i class="fas fa-home" aria-label="Exchange" title="Exchange"></i>
                </span>
                <span class="appbar-btn-text">Exchange</span>
            </button>
            <button class="btn-appbar nav-btn-play" title="Play" target-panelid="2" transform="-20">
                <span class="appbar-icon" title="Play">
                    <i class="fa-regular fa-calendar-plus" aria-label="Play" title="Play"></i>
                </span>
                <span class="appbar-btn-text">Play</span>
            </button>
            <button class="btn-appbar nav-btn-portal" title="Portal" target-panelid="3" transform="-40">
                <span class="appbar-icon" title="Portal">
                    <i class="fa-solid fa-users" aria-label="Portal" title="Portal"></i>
                </span>
                <span class="appbar-btn-text">Portal</span>
            </button>
            <button class="btn-appbar nav-btn-upgrade" title="Upgrade" target-panelid="4" transform="-60">
                <span class="appbar-icon" title="Upgrade">
                    <i class="fa-solid fa-receipt" aria-label="Upgrade" title="Upgrade"></i>
                </span>
                <span class="appbar-btn-text">Upgrade</span>
            </button>
            <button class="btn-appbar nav-btn-invest" type="button" title="Invest" target-panelid="5" transform="-80">
                <span class="appbar-icon">
                    <i class="fa-solid fa-plus" aria-label="Invest" title="Invest"></i>
                </span>
                <span class="appbar-btn-text">Invest</span>
            </button>
        </div>
    </nav>
</div>