<div id="installPrompt" class="install-prompt">
    <header class="text-center">
        <h1>Install Our App</h1>
        <p>For the best experience, add our app to your home screen.</p>
    </header>
    <div class="required-notice">
        <h2>Installation Required</h2>
        <p>You need to install the app to access its features.</p>
        <button class="btn-retry" type="button">Try Again</button>
    </div>
    <div id="instructions">
        <div class="beforeinstallprompt-instructions">
            <ol>
                <li>Tap the 'Install Now' button.</li>
                <li>Follow the prompts to install XEX.</li>
                <li><img src="img/beforeinstall-app-prompt-edge.png" alt="Native PWA Install Prompt"></li>
            </ol>
            <button class="btn-install triggerInstall visible" type="button">Install App</button>
            <p class="text-center">Or</p>
        </div>
        <div id="install-iPhone" class="install-instructions">
            <ol>
                <li>Tap the share button <span class="icon-share"></span> in your browser's toolbar.</li>
                <li>Select "Add to Home Screen".</li>
                <li>Follow the prompts to install.</li>
            </ol>
            <img src="img/iphone-share-add-to-home-screen.jpg" alt="iPhone Share Button" />
            <img src="img/iphone-share-add-to-home-screen-confirm.jpg" alt="iPhone Add To Homescreen Confirmation" />
        </div>
        <div id="install-iPad" class="install-instructions">
            <ol>
                <li>Tap the share button <span class="icon-share"></span> in your browser's toolbar.</li>
                <li>Select "Add to Home Screen".</li>
                <li>Follow the prompts to install.</li>
            </ol>
            <img src="img/ipad-share.png" alt="iPad Share Button" />
        </div>
        <div id="install-Android" class="install-instructions">
            <ol>
                <li>Tap the menu button <span class="icon-menu"></span> in your browser's toolbar.</li>
                <li>Select "Add to Home Screen".</li>
                <li><img src="img/android-chrome-install.jpg" alt="Android Menu Button" />
                </li>
                <li>Follow the prompts to install.</li>
            </ol>
        </div>
        <div id="install-Chrome" class="install-instructions">
            <ol>
                <li>Click the install icon <span class="icon-install"></span> in the address bar.</li>
                <li>Select "Install".</li>
                <li>Follow the prompts to install.</li>
            </ol>
            <img src="img/android-chrome-install.png" alt="Chrome Install Icon" />
        </div>
        <div id="install-Edge" class="install-instructions">
            <ol>
                <li>Click the install icon <span class="edge-icon-install install-image"><img
                            src="img/install-pwa-edge.png" alt="Edge Install Icon" /></span><span
                        class="chrome-icon-install install-image"><img src="img/install-pwa-chrome.png"
                            alt="Chrome Install Icon" /></span> in the address bar.</li>
                <li>Select "Install".</li>
                <li>Follow the prompts to install.</li>
            </ol>

        </div>
        <div id="install-Windows" class="install-instructions">
            <ol>
                <li>Click the install icon in the address bar.</li>
                <li class="edge-icon-install install-image"><img src="img/install-pwa-edge.png"
                        alt="Edge Install Icon" />
                </li>
                <li class="chrome-icon-install install-image"><img src="img/install-pwa-chrome.png"
                        alt="Chrome Install Icon" /></li>
                <li>Select "Install".</li>
                <li>Follow the prompts to install.</li>
            </ol>
            <p class="text-center">Or</p>
            <ol>
                <li>Click the three dots in the upper right corner of your browser.</li>
                <li class="edge-icon-install install-image">Select "Apps" then "Install Xex".</li>
                <li class="edge-icon-install install-image"><img src="img/install-pwa-edge-menu.png"
                        alt="Edge Install Menu" /></li>
                <li class="chrome-icon-install install-image">Select "Save and Share" then "Install Xex".</li>
                <li class="chrome-icon-install install-image"><img src="img/install-pwa-chrome-menu.png"
                        alt="Chrome Install Menu" />
                </li>
                <li>Follow the prompts to install.</li>
            </ol>
        </div>
        <div id="install-Other" class="install-instructions">
            <ol>
                <li>Check your browser's menu options.</li>
                <li>Look for "Install App" or "Add to Home Screen".</li>
                <li>Follow the prompts to install.</li>
            </ol>
        </div>
    </div>
</div>